/**
* ALL APPLICATION ...Css que afecta a toda la aplicación.
* HEADER ............Sección del header, donde se encuentra el nav.
* MAIN ..............Sección del Main, donde estan textos como cookies, nosotros, aviso legal.
* CONTACT ...........Sección del Contcato, donde esta el formulario y el Maps.
* TARIFFS ...........Sección de las Tarifas, se pintar las distintas tarifas, con unas titulo,subtarifas,y botones al final.
* CATALOGUE .........Sección del Catalogo, donde esta las familias, los filtros y los articulos.
* FOOTER ............Sección del footer, donde se encuentra un nav, cambiar el lenguaje y redes sociales.
* MEDIA .............Sección de las Media Query.
*/

/*------------------------------------*\
    ALL APPLICATION
\*------------------------------------*/

* {
    margin: 0px;
    padding: 0px;
}
.warning {
    color: white;
    background-color: #FFCA28;
    border: 2px solid #dc8607;
    font-size: 20px;
    padding: 5px;
    margin: 10px;;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

/* icon of the header */
.header__icon {
    width: 142px;
}
/* Nav menu */
.nav {
    visibility: visible;
}
/* Nav menu list */
.nav__ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #4a9df5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}
/* Nav menu list */
.nav__li {
    display: flex;
    align-items: center;
}
/* Nav menu link */
.nav__a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 12px 13px;
    text-decoration: none;
}
/* Nav menu link hover */
.nav__a:hover {
    background-color: #1c84f3;
}
/* Vertical menu */
.vertical__arrow {
    position: fixed;
    visibility: hidden;
    z-index: 100;
    font-size:30px;
    cursor: pointer; 
    color:blue;
}
/* Vertical menu nav */
.vertical__nav {
    width: 200px; 
    position: fixed;
    visibility: hidden;
    height: 100%;
    overflow: scroll;
    background-color: #4a9df5; 
    z-index: 100; 
}
/* Vertical menu nav list */
.vertical__nav__li{
    display: block;
    padding: 12px;
}
/* Vertical menu nav link */
.vertical__nav__a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/

.bodyContent {
    margin-bottom: 30px;
}
/* Container of the body */
.containerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Section body */
.sectionBody {
    width: 450px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Roboto Slab";
}
/* Section body h3*/
.sectionBody__h3{
    font-size: 50px;
    margin-bottom: 30px;
    font-family: "Roboto Slab";
    font-weight: 200;
}
/* Section body p*/
.sectionBody__section p{
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
}
/* JUMBOTRON(Carousel) */
.jumbotron {
    position: relative;
    margin: auto;
}
/* Jumbotron arrow prev and next*/
.jumbotron__prev, .jumbotron__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* jumbotron arrow next */
.jumbotron__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* jumbotron arrow prev and next hover*/
.jumbotron__prev:hover, .jumbotron__next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Jumbotron slider */
.slide {
    height: 400px;
}
/* Jumbotron slider pager */
.slide__pager {
    position: absolute;
    margin: 13px;
    color: white;
    font-size: 18px;
    cursor: default;
}
/* Jumbotron slider text */
.slide__text {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    left: 12%;
    bottom: 100px;
    width: 75%;
}
/* Jmbotron Dot */
.jumbotronDot {
    position: relative;
    text-align: center;
    bottom: 40px;
}
/* Dot */
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* jumbotron dot activate and hover */
.active, .dot:hover {
    background-color: #717171;
}
/* jumbotron slider play */
.fa-play {
    position: absolute;
    right: 59px;
    top: 5px;
    font-size: 21px;
}
/*  jumbotron slider stop */
.fa-pause {
    position: absolute;
    right: 59px;
    top: 5px;
    font-size: 21px;
}

/*------------------------------------*\
    CONTACT
\*------------------------------------*/

.contactContent {
    margin-bottom: 40px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}
/* Contact title */
.contactTitle {
    font-family: "Roboto Slab";
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 100;
    text-align: center;
}
/* Contact form */
.contactForm { 
    width: 42%;
    margin: 18px;
    font-size: 16px;
    box-sizing: border-box;
}
/* Contact form input */
.contactForm__input {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}
/* Contact for textarea */
.contactForm__textarea {
    width: 100%;
    height: 200px;
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: vertical;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}
/* Contact form button */
.contactForm__button { 
    color: #FFF;
    font-weight: bold;
    background: #468df8;
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}
/* Contact google maps */
.map {
    width: 49%;
    margin: 18px;
    height: 450px;;
    display: inline-block;
    vertical-align: top;
}
/* Contact info ubicatio of the company */
.contactContent__infoUbi {
    text-align: right;
    width: 100%;
}

/*------------------------------------*\
    TARIFFS
\*------------------------------------*/

.containerTariffs {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Tariffs section */
.tariffsSection {
    width: 300px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
    border: 1px solid #cecece;
    font-family: sans-serif;
}
/* Tariffs header section */
.headerSection {
    background-color: gray;
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
/* Tarrifs header section image */
.headerSection__image {
    width: 35px;
    margin-right: 12px;
}
/* Tariffs body section */
.bodySection {
    background-color: blue;
    padding: 15px;
}
/* Tariffs body section label */
.bodySection__label {
    font-family: "Roboto Slab";
    font-size: 35px;
    font-weight: 400;
}
/* Tariffs subtariffs */
.bodySubTariffs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 380px;
    color: black;
}
/* Tariffs subtariffs section */
.bodySubTariffs__section{
    flex: 1;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Tariffs subtariffs section icon */
.bodySubTariffs__section i{
    font-size: 33px;
    margin-bottom: 7px;
}
/* Tariffs article main  */
.articleMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Tariffs article main title */
.articleMain__title {
    width: 100%;
    margin: 50px;
    text-align: center;
    font-size: 50px;
}
/* Tariffs article main section */
.articleMain__section {
    width: 500px;
    margin: 10px;
}
/* Tariffs article main section span */
.articleMain__section p span{
    text-align: justify;
}
/* Tariffs footer section */
.footerSection {
    display: flex;
}
/* Tariffs footer section button */
.footerSection__button {
    width: 150px;
    padding: 15px;
    border: 0.25px solid blue;
    background-color: inherit;
    text-transform: uppercase;
}

/*------------------------------------*\
    CATALOGUE
\*------------------------------------*/

/* Catalogue body article */
.catalogue__article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 20px;
}
/* Catalogue body section */
.catalogue__section {
    text-align: center;
}
/* Catalogue body h3 */
.catalogue__h3 {
    margin: 15px;
}
/* Catalogue body h4 */
.catalogue__h4 {
    margin: 5px;
    color: #000000ab;
}
/* Catalogue body image */
.catalogue__img {
    width: 100%;
}
/* Catalogue body error */
.error__catalogue {
    color: white;
    font-weight: bold;
    padding: 7px;
    background-color: #d84848;
    border: solid 2px #840707;
}
/* Catalogue family*/
.headfamily{
    background-color: #00b02e;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* Catalogue family article */
.family__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}
/* Catalogue family section */
.family__section {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
/* Catalogue filter article */
.filter__article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 15px;
}
/* Catalogue filter section */
.filter__section {
   padding: 10px; 
   font-weight: bold;
   margin-bottom: 10px; 
}
/* Catalogue filter select */
.filter__select {
    width: 100%;
    padding: 3px;
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 2px solid #0052a7fc;
    color: white;
    background-color: #468df8;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/


.footer {
    background-color: #e4e4e4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* footer section */
.footer__section {
    display: inline-block;
    margin: 15px;
}
/* Footer menu nav */
.footer__nav {
    margin: 15px;
}
/* Footer menu nav link*/
.fnav__a {
    text-decoration: none;
    color: black;
}
/* Footer language */
.footer__lang {
    margin: 15px;
}
/* Footer language button */
.footer__lang button {
    padding: 5px;
    font-size: 17px;
    background-color: #deb88700;
    border: solid 2px white;
    cursor: pointer;
    margin-left: 15px;
}
/* Footer language button hover */
.footer__lang button:hover {
    background: #468df8;
    color: #fff;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

/* Resize catalogue, 900px */
@media ( max-width: 900px ){
    .catalogue__article {
        grid-template-columns: 1fr 1fr;
        margin: 0px;
    }
    .filter__article {
        grid-template-columns:1fr 1fr 1fr;

    }
}

/*------------------------------------*\
    MEDIA
\*------------------------------------*/

/* Hide and show menu, 800px */
@media ( min-width: 800px ){
    .nav {
        visibility: visible;
    }
    .vertical__arrow {
        visibility: hidden !important;
    }
    .vertical__nav {
        visibility: hidden !important;
    }
}
/* Hide and show menu, and resize form in 800px*/
@media ( max-width: 800px ){
    .nav {
        visibility: hidden;
    }
    .vertical__arrow {
        visibility: visible;
    }
    .contactForm {
        width: 70%;
    }
    .map {
        width: 80%;
    }
}
/* Resize catalogue, 600px */
@media ( max-width: 600px ){
    .catalogue__article {
        grid-template-columns: 1fr;
        margin: 0px;
    }
    .filter__article {
        grid-template-columns:1fr 1fr;

    }
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}


